body{
    background: url(../images/my.jfif) no-repeat;
    background-repeat: repeat-x;
}
.main{
    position: relative;
    z-index: 10;
    width: 1050px;
    height: 420px;
    margin: 90px auto;
    background-color: #ffffff;
    border: 1px solid #FFFFFF;
    /* opacity:0.8; */
    padding-left: 100px;
}
h1{
   background-color: #08090b;
   text-align: center;
   color: white;
}
.main img{
    display: block;
    position: absolute;
    width: 150px;
    height:  150px;
    /* opacity: 1; */
    left: 700px;
    top: 80px;
    /* border: 10px solid red; */
}
h2{
    margin-top: 20px;
}